<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Game</title>
    <link rel="stylesheet" href="static/game.css">
</head>
<body>
    <div id="errorMessage">Illegal Move</div>
    <div class="board-container" id="board" game-fen="{{.FEN}}"> </div>
    <div class="game-info">
        <h2>Game Information</h2>
        <p><strong>Game ID:</strong> <span id="gameId">{{.GameID}}</span></p>
        <p><strong>Player Color:</strong> <span id="playerColor">{{.PlayerColor}}</span></p>
        <h3>Moves:</h3>
        <p id="moves"></p>
    </div>
    <script src="static/game.js"></script>
    
</body>
</html>
